<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

### Some of the commonly used libraries used by Data Scientists include:
1.Python Libraries for Data Science 
 * Numpy
 * Pandas
 * Seaborn
 * Matplotlib
2. R Libraries for Data Science
 * ggplot2
 * dplyr
 * caret

### Data Science Tools
|Data Science Tools|
|----|
|Jupyter Notebook|
|R Studio|
|Visual Studio Code|

# Below are a few examples of evaluating arithmetic expressions in python

In [1]:
6+5

11

In [2]:
11-4

7

In [3]:
6*4

24

In [7]:
36 % 5

1

In [8]:
42/6

7.0

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
time = int(input("Enter time in minutes "))
hour = time//60
minute = time % 60
print("Hours is ", hour)
print("Minutes is ", minute)

Enter time in minutes  200

Hours is  3.3333333333333335
Minutes is  20

# <b> Objectives

#### Popular languages for Data Science
* Python
* R
* SQL
#### Open Source tools for Data Science
- Data Management Tools
    * MongoDB
    * MySQL
    * PostgreSQL
- Data Integration and Transformation Tools
   - Apache Kafka
   - Apache Kubeflow
- Data Visualization Tool
  - Pixie dust
  - Hue
  - Kibana
  
#### Jupyter Notebook
#### Libraries for Data Science
- Pandas
- Numpy
- Matplotlib
- ggplot2
#### GitHub

## Author

#### Preeti Dwivedi